---
layout: default
title: "News about the Tour"
---

<!-- page specific styles -->
<style type="text/css">
.entry-content h2,
.entry-content h3 {clear:both;margin-top:2em;}
.pair2 figure {float:left; margin: 0 0 2em 0;}
.pair2 figure:first-of-type {width:40%;margin-right:2%;}
.pair2 figure:last-of-type {width:56%}
.pair2 figure figcaption {text-align:center;line-height:1.2;}

ul#news-coverage {margin-left: 1rem;}
#news-coverage li {clear:right;margin-bottom:2em;}
#news-coverage li img {float:right; padding:0 0 1em 2em;}
#news-coverage li q {quotes: '“' '”'}
</style>

<p>
	The studio tour is a free, self-guided driving tour through the beautiful countryside and towns of western Loudoun County, Virginia. It is a unique opportunity to see artists where they work, view live art demonstrations, and experience one-on-one interaction with professional and emerging artists.
</p>
<h2>
	News
</h2>

<div class="mb-3">
		<p>The 2023 Western Loudoun Art and Studio Tour is live and in person and we're super excited to once again have a driving tour.</p>

		<p>Some of the artists will be open on Friday as well as Saturday and Sunday. Please check your artist's page to be sure of their days open.</p>

		<p>May 2023 Gallery Show: Preview your favorite artists' work and discover new favorites in the gallery at Franklin Partk Arts Center, Purcellville, VA during the month of May; watch for announcements on dates and times.</p>

		<p>We look forward to seeing you on the Tour.</p>
</div>
<!--
<ul>
<li>
</li>

			<li>The <a href="/artists/call-for-entries.htm" title="press release announcing applications for 2019 Tour participation">Call for Artists</a> for WLAST 2019 has been sent to the press! | Saturday, November 3, 2018</li>
			<li><a href="http://loudounnow.com/2016/12/28/artists-studio-tour-opens-registration/" target="_blank">Artists Studio Tour Opens Registration</a> |
Loudoun Now | December 28, 2016</li>
<li>April 1, 2020: After careful consideration and in light of Governor Northam’s statewide “stay at home” order through June 10, 2020, the driving portion of the 2020 Western Loudoun Art and Studio Tour is cancelled. Online listings and promotion of the 2020 artists is planned, including virtual tours.</li>
</ul>
 -->

<p>
	Learn more about the tour and its impact on the community from the <a href="#news-coverage">media coverage</a> and <a href="#video-footage">video footage</a> below.
</p>
<div class="pair2">
	<figure>
		<img src="/assets/images/jeff-hall-and-tour-patron.jpg" height="270" alt="Sculptor Jeff Hall with a tour patron">
		<figcaption>
			<small>Sculptor Jeff Hall with a tour patron</small>
		</figcaption>
	</figure>
	<figure>
		<img src="/assets/images/brswg-spinnning.jpg" height="270" alt="Blue Ridge Spinners and Weavers Guild member demontrating spinning">
		<figcaption>
			<small> Spinning Demonstration - Blue Ridge Spinners and Weavers Guild</small>
		</figcaption>
	</figure>
</div>
<h2>
	Media Coverage
</h2>
<ul id="news-coverage">
	<li id="date20190524"> <a href="https://loudounnow.com/2019/05/24/western-loudoun-artists-studio-tour-hope-hanes/" target="_blank">Western Loudoun Artists Studio Tour: Hope Hanes</a><br> Loudoun Now | May 24, 2019 </li>

	<li id="date201650609"><!-- <a href="http://loudounnow.com/2016/06/19/photo-gallery-western-loudoun-artists-studio-tour/" target="_blank"><img style="float:right;margin:0 0 1em 1ex;" width="168" alt="WLAST hand sculpture, photo credit: Danielle Nadler/Loudoun Now" src="http://loudounnow.com/wp-content/uploads/2016/06/WLAST_7-800x445.jpg"> -->Photo gallery: Western Loudoun Artists Studio Tour<!-- </a> --></ />| Loudoun Now | June 19, 2016 by Danielle Nadler <br>
	<p>
		Western Loudoun Artists Studio Tour, in its 11th year, featured 31 artist studios and two art hubs, Franklin Park Arts Center and the Round Hill Arts Center.
	</p>
	</li>

	<li id="date20150701"><a href="http://issuu.com/liveanartfullife/docs/mag_issue6/14" target="_blank">Tenth Annual Western Loudoun Artists Studio Tour</a> <br> Live an Artful Life Magazine | Issue 6, published July, 2015 by Tom and Linda Neel</li>
	<li id="date20150626"><!-- <a href="http://www.purcellvillegazette.com/western-loudoun-artists-studio-tour-draws-crowds-from-every-direction/" target="_blank"> -->Western Loudoun Artists Studio Tour Draws Crowds from Every Direction<!-- </a> --> | Purcellville Gazette, June 26, 2015<br>
	<p>
		“Studios were everywhere&mdash;from major community centers &hellip; to private residences on sleepy country roads.”
	</p>
	</li>
	<li id="date20150618ltm"><a href="http://issuu.com/leesburgtoday/docs/06-18-15_at_issue?e=0/33138526" target="_blank">Jill Evans-Kavaldjian: Celebrating Nature's Bounty At Garden Gorner</a><br> Leesburg Today | Thursday, June 18, 2015 by Jan Mercker </li>
	<li id="date20150619"> <a href="http://www.washingtonian.com/2015/06/19/road-trip-alert-take-an-art-filled-drive/" target="_blank">Washingtonian Magazine</a> | Friday, June 19, 2015 by Sherri Dalphonse
	<p>
		Road Trip Alert! Take an Art-Filled Drive<br> Loudoun County artists are throwing open their studio doors this weekend, making a pretty drive even more interesting
	</p>
	</li>
	<li id="date20150618"><a href="http://www.washingtonpost.com/local/going-out-guide/2015/06/16/9bd565e2-0e24-11e5-a0fe-dccfea4653ee_story.html?postshare=6411434574018195" target="_blank"><img width="168" alt="Jeff Hall" src="https://img.washingtonpost.com/rf/image_1484w/2010-2019/WashingtonPost/2015/06/12/Production/LocalLiving/Images/0618FSGOGJeff%20Hall-WLAST.jpg"></a><a href="http://www.washingtonpost.com/local/going-out-guide/2015/06/16/9bd565e2-0e24-11e5-a0fe-dccfea4653ee_story.html?postshare=6411434574018195" target="_blank">Washington Post Going Out Guide</a> | Thursday, June 18, 2015
	<p>
		Feature photo: Sculptor Jeff Hall works on a statue of Martin Luther King Jr. that was commissioned for the Martin Luther King Jr. Library in Aurora, Colo. Hall’s studio is on the Western Loudoun Artists Studio Tour this weekend.
	</p>
	</li>
	<li id="date20150406">Western Loudoun Artists Studio Tour Celebrates Ten Years Connecting People with Artists <a href="/press-release-20150406.html">press release</a> | Tuesday, April 6, 2015</li>
	<li id="date20140616"><!-- <a href="http://www.northernvirginiamag.com/game-plan/2014/06/16/mingle-with-local-artists-at-the-western-loudoun-artists-studio-tour/attachment/wlast_crowd_edit/" target="_blank"><img alt="image" src="https://ci3.googleusercontent.com/proxy/g1k2eZsd5BmXWH8yKDA1njmi8JWVaQnOLTfYIi2_rxec4tDY8PlQiHf5COBtFzCzg_uSodQPJcFP1Fu9gX-EbP6qgThcXb15jM92MfkVYZ3k_VWLkBjBJ1hij70wcqTvi2Z8bKCLE331xQH7jirW-g=s0-d-e1-ft#http://www.northernvirginiamag.com/wp-content/uploads/2014/06/WLAST_Crowd_Edit-300x190.jpg" width="168" height="106" class="CToWUd"></a> --><a href="http://www.northernvirginiamag.com/game-plan/2014/06/16/mingle-with-local-artists-at-the-western-loudoun-artists-studio-tour/attachment/wlast_crowd_edit/" target="_blank">Mingle With Local Artists at the Western Loudoun Artists Studio Tour</a> | Northern Virginia Magazine | Monday, June 16th, 2014 by Elke Thoms
	<li id="date20140616b"><a href="http://www.leesburgtoday.com/community_life/western-loudoun-artists-studio-tour-this-weekend/article_9119ef4c-f237-11e3-bf69-001a4bcf887a.html" target="_blank">Western Loudoun Artists Studio Tour This Weekend</a><br> Leesburg Today | Posted: Monday, June 16, 2014</li>
	<!--
<li id="date20140614">
<!~~ article features David Norton and some history of the tour ~~>
	<!~~ <a href="http://www.loudountimes.com/index.php/news/article/artists_studio_tour_showcases_western_loudoun_art_scene898" target="_blank"><img alt="image" src="https://ci6.googleusercontent.com/proxy/eA1dAvddnrOcttn4VLI_7GzaY-0QBpXOk9kN5WfVprERSZS1W_MNQR6rfgDjmAdoCleSRAqYsBkt5h0Bi2ybzxfmoO2R37DqCC_7wACy4Pz2rxCC2a1PC3ND1mg9i1j5hKOZ8c6uuGQ7YcCRrFP5z16bNRGsVrErfU-JQVf2vuCrlZ-cAog=s0-d-e1-ft#http://www.loudountimes.com/images/uploads/480_wide/Main_Wcol_-_Lovettsville_-_David_Norton_bone-bucket_6-11.jpg" width="112" height="168" class="CToWUd"></a> ~~><a href="http://www.loudountimes.com/index.php/news/article/artists_studio_tour_showcases_western_loudoun_art_scene898" target="_blank">Artists’ studio tour showcases western Loudoun art scene</a> | Loudoun Times Mirror | Saturday, June 14, 2014 by John McNeilly </li>
 -->
	<!--
<li id="date20130618">
<!~~ Quotes Jeff Stern, highlights J Douglas, Steena fullmer-anderson, and George Andrews ~~>
	<a href="http://www.loudountimes.com/index.php/news/article/western_loudoun_artists_studio_tour_adds_new_talent898" target="_blank"><img alt="image" src="https://ci5.googleusercontent.com/proxy/U5rV6kkp4eek-J8klWRwqZwbZbcdp-VUMQFyg1UFCE3vRNd2mTwiXao7nqLsi9bdcwbTMUtH6-3OGI7oJzZ5-eQ_zl4iHzu3zxQbAcbW3h4UeN18ZMvC1kzGYDp0ecA=s0-d-e1-ft#http://www.loudountimes.com/images/uploads/480_wide/Main_AE_JDouglas3.JPG" width="168" height="135" class="CToWUd"></a><a href="http://www.loudountimes.com/index.php/news/article/western_loudoun_artists_studio_tour_adds_new_talent898" target="_blank">Western Loudoun Artists Studio Tour adds new talent</a> | LoudounTimes.com | June 18, 2013 by By Elizabeth Stinnette, Times-Mirror Staff Writer </li>
	</li>
 -->
</ul>
<h2 id="video-footage">
	Video Footage
</h2>
<h3>
	Videos from <em>Broadcasting Sunny:</em>
</h3>
<ul>
	<li><a href="https://youtu.be/v73G_a9iSPk" target="_blank">Take a peek at home and studio of artist Penny Hauffe</a><br> Published on Jun 16, 2015</li>
	<li><a href="https://youtu.be/R6k1OvjiXVU" target="_blank">An interview with Lisa Strout an artist on the WLAST tour</a><br> Published on Jun 4, 2015</li>
	<li><a href="https://youtu.be/MaeI9tNuEQs" target="_blank">WLAST Artist interview with David Norton</a><br> Published on May 29, 2015 David Norton has been on the Western Loudoun Artist Studio Tour since the beginning.
<!-- This is part 2 of the interview. -->
	</li>
</ul>

<!--
<a href="https://www.youtube.com/playlist?list=PLWiBgVBo-oIV4eauZVPAsJ3IrNZu8uqQz" target="_blank"><img alt="image" src="https://ci4.googleusercontent.com/proxy/t8BqtLb_ivuf51P5DuiB3hukLKR171vbovhlfj8RoL5dMOsT8SDydHIEs32e_UBFCKkWMLyDKRAaxC22cHkl610dGF_Z=s0-d-e1-ft#https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" width="168" height="168" class="CToWUd"></a>
 -->
<!--
<a href="https://www.youtube.com/playlist?list=PLWiBgVBo-oIV4eauZVPAsJ3IrNZu8uqQz" target="_blank"><span>Western Loudoun Artists Studio Tour - YouTube</span></a><br>
2013 WLAST artist Katy Stidley at work<br>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLWiBgVBo-oIV4eauZVPAsJ3IrNZu8uqQz" frameborder="0" allowfullscreen></iframe>
 -->
<hr/>
{% include sponsors-logos.html %}


{% include support-the-tour.html %}

{% comment %}
//{% include get-merchandise.html'); %}
{% endcomment %}

	</section>
