{% comment %} update with 2023 booklet!
<p>
	Our studio tour booklet &amp; map are viewable online<br>
	<img class=" alignleft" src="http://wlast.org/images/booklettb.jpg" alt="Studio Tour booklet" width="112" height="128">
</p>
<ul>
	<li><a href="/print-media/WLAST-booklet-2018.pdf" target="_blank">View the full 2018 WLAST booklet online</a><br>
	(5 mb – please allow a moment to load)</li>
	<li><a href="/print-media/2018WLASTmap.pdf">View and print <em>only</em> the 2018 WLAST map</a></li>
</ul>

<div class="clearfix"></div>
{% endcomment %}
