{% comment %}<!--
<p style="text-align:center;font-size:18px;"><span>
				Please stay tuned for virtual tour with wonderful art and videos!<!~~
<br />
		Looking forward to resuming the driving tour in 2021.
 ~~></span></p> -->
 {% endcomment %}
<div id="contact" class="foot">
{% comment %}<!--
<p>
	For more information about the 2016 Western Loudoun Studio Tour, please call 540-338-7973 or email&nbsp;<a href="mailto:%20elizabeth.bracey@loudoun.gov">Elizabeth Bracey</a>&nbsp; or&nbsp;<a href="mailto:kellie.goossens@loudoun.gov">Kellie Goossens</a>, or visit&nbsp;our Tour Partner, the<br>
	<a href="http://www.franklinparkartscenter.org/" target="_blank">Franklin Park Performing &amp; Visual Arts Center</a><br>
	36441 Blueridge View Lane<br>
	Purcellville, VA 20132<br>
	Open Monday - Friday, 9 am - 5 pm
</p> -->
{% endcomment %}

<p class="text-center">
	Follow WLAST on
	<a title="Western Loudoun Art and Studio Tour" href="http://www.facebook.com/pages/Western-Loudoun-Artists-Studio-Tour/110964532254206" target="facebook">Facebook</a>
	or
	<!-- <a href="https://twitter.com/TourWLAST" title="Follow WLAST on Twitter">Twitter</a> -->
	<a href="https://www.instagram.com/westernloudounartandstudiotour/" title="Follow WLAST on Instagram">Instagram</a> | <a href="/contact.html" title="List of all the ways to get in touch with Tour organizers">Contact Us</a> | <a href="/site-map.html" title="Site structure and links for all pages">Site Map</a></p>
</div>

<div id="copyright" class="foot hentry">
	&copy; 2023 copyright protected, all rights reserved. All images/designs/materials on these pages are copyright protected and cannot be used without written permission.
</div>
