<section class="masthead site-title" id="section1">
	<nav id="utility-menu" class="link-backroom">
		<a href="/artarea.htm">Artists' Area</a>
	</nav>
	<div class="wrap">
		<div class="logo">
			<a href="/">Western Loudoun Art and Studio Tour</a>
		</div>
		<h1>
			<span class="line1 hide-from-small">The 16th Annual</span> <span class="line2 hide-from-small">Western Loudoun Art &amp; Studio Tour</span>
		</h1>
		<div class="h1 line3 hide-from-large">
			WLAST
		</div>
		<h2>
			<span>Friday, Saturday, Sunday, June 2, 3 &amp; 4, 2023</span>
		</h2>
		<div style="position: relative; top: -.15ex;">
			<span style="font-size: smaller;white-space: nowrap;">10:00<span style="display: inline; font-size: smaller; text-transform: uppercase;">am</span> - 5:00<span style="display: inline; font-size: smaller; text-transform: uppercase;">pm</span></span> <span style="display: inline-block; font-size: smaller;padding-left:3rem;"><small>NOTE: Not all studios open on Friday, June 2</small></span>
		</div>
	</div>
</section>
{% include nav-header.html %}
