<style type="text/css">
#grandSponsors ul, #grandSponsors li {list-style-type:none;margin:0;}
#grandSponsors ul {clear: left; width: 80%; margin: auto;}
#grandSponsors ul li {float:left;text-align:center;margin-bottom:40px;max-width: 50%;}
#grandSponsors ul li {margin-left:4.85%;}
#grandSponsors ul li:first-of-type {margin-left:0;}
#grandSponsors ul li img {height: auto; width: 100%;}
#RHAC {width: 25%}
#FPAC {width: 25%}
#FOFPAC {width: 35%}

#NEA {width:33%;}
#VAComm {width:20%;}
#NOVEC {width:29%;}
#Lovettsville,
#CoPA {width:18%;}
#RoundHill,
#PAC {width: 24%;}


#RHAC img {margin-top:5%;}
#FPAC img {}
#FOFPAC img {margin-top: 18%;}
#VAComm img {}}
#NEA img {margin-top: 12%;}
#NOVEC img {margin-top: -8%;}
#Lovettsville img {margin-top: 0;}
#CoPA img {margin-top: 20%;}
#RoundHill img {margin-top: 0%;}
#PAC img {margin-top: 20%;}
</style>
<div id="grandSponsors">
	<p>
		<strong>The 2022 Western Loudoun Art and Studio Tour was brought to you free<br>
		with the help of these partners and sponsors:</strong>
	</p>
	<ul>
		<li id="FPAC">
		<div class="grandSponsorContainer forSquare">
			<a target="_blank" href="http://www.franklinparkartscenter.org/"><img src="/assets/images/FranklinParkArtsCenter.png" width="180" height="190" alt="Franklin Park Performing &amp; Visual Arts Center"></a>
		</div>
		</li>
		<li id="FOFPAC">
		<div class="grandSponsorContainer forWide">
			<a target="_blank" href="http://www.franklinparkartscenter.org/"><img src="/assets/images/FriendsOfFranklinParkArtsCenter.png" width="310" height="117" alt="The Friends of Franklin Park Arts Center"></a>
		</div>
		</li>
		<li id="RHAC">
		<div class="grandSponsorContainer forSquare">
			<a target="_blank" href="http://www.roundhillartscenter.org/"><img src="/assets/images/RHACnewbig.gif" width="150" height="153" alt="Round Hill Arts Center"></a>
		</div>
		</li>
	</ul>
	<ul>
		<li id="NEA">
		<div class="grandSponsorContainer forSquare">
			<a href="http://www.nea.gov/" target="_blank"><img alt="National Endowment for the Arts" src="/assets/images/sponsors/logo-NEA-2018.png" width="200" height="115"></a>
		</div>
		</li>
		<li id="VAComm">
		<div class="grandSponsorContainer forSquare">
			<a href="http://www.arts.virginia.gov/" target="_blank"><img alt="Virginia Commission for the Arts" src="/assets/images/VacommisLOGOweb.gif" width="200" height="155"></a>
		</div>
		</li>
		<li id="NOVEC">
		<div class="grandSponsorContainer forWide">
			<a href="http://www.novec.com/" target="_blank"><img alt="NOVEC" src="/assets/images/sponsors/NOVEC-2017.png"></a>
		</div>
		</li>
	</ul>
	<ul>
		<li id="Lovettsville">
		<div class="grandSponsorContainer forSquare">
			<a href="http://www.lovettsvilleva.gov/" target="_blank"><img alt="Town of Lovettsville, Virginia" src="/assets/images/sponsors/Lovettsville-2017.png"></a>
		</div>
		</li>
		<li id="CoPA">
		<div class="grandSponsorContainer forSquare">
			<a href="https://www.leesburgva.gov/businesses/site-selection/business-incentives/arts-cultural-district" target="_blank"><img alt="CoPA Leesburg Arts and Cultural Districts" src="/assets/images/sponsors/CoPA-Leesburg-Cultural-Distric-logo.jpg"></a></div>
		</li>
		<li id="RoundHill">
		<div class="grandSponsorContainer forSquare">
			<a href="http://roundhillva.org/" target="_blank"><img alt="Town of Round Hill, Virginia" src="/assets/images/sponsors/Round-Hill-2017.png"></a>
		</div>
		</li>
		<li id="PAC">
		<div class="grandSponsorContainer forWide">
			<a href="http://purcellvilleva.gov/" target="_blank"><img alt="Purcellville Arts Council" src="/assets/images/sponsors/Purcellville-Arts-Council-2017.png"></a>
		</div>
		</li>
	</ul>
	<p style="clear: left;">
		This project is supported in part by the the <a href="http://www.arts.virginia.gov" target="_blank" style="text-decoration:none;color:inherit;">Virginia&nbsp;Commission&nbsp;for&nbsp;the&nbsp;Arts</a> <br>
		and the <a href="http://www.nea.gov" target="_blank" style="text-decoration:none;color:inherit;">National&nbsp;Endowment&nbsp;for&nbsp;the&nbsp;Arts</a>.
	</p>
</div>

