<div id="supportTheTour">
	<p class="text-start">
		<strong>Would you like to support the studio tour? There are several ways to do so:</strong>
	</p>
	<ul class="boxy">
		<li> <strong>Become a Sponsor or Supporter - <a href="/volunteer.htm">click here to find out more</a></strong></li>
		<li> <strong>Volunteer - <a href="/volunteer.htm#VOLUNTEERS">click here to find out more</a></strong></li>
<!--
		<li> <strong>Advertise in our studio tour booklet - <a href="/ad.htm">click here to find out more</a></strong></li>
 -->
	</ul>
</div>
